.no-padd{
  padding: 0px !important
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #555555;
    background-color: #fff;
    border: 0px;
    border-bottom-color: transparent;
    border-top: 3px solid #e74c3c;
    margin-top: -2px;
    border-right: 1px solid #dcdada;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 14px 16px;
    font-weight: 600;
    font-size: 13px;
    margin-right: 0px;
    border: 0px;
    border-right: 1px solid #dcdada;
}
.tab-content {
    padding: 15px;
    border: 0px;
    background-color: #ffffff;
    border-top: 0px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 13px;
    color: #5d5d5d;
}
.tab-content .input-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
.input-group>.custom-file,
.input-group>.custom-select,
.input-group>.form-control {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
.middle-text {
    font-weight: 600;
    display: block;
    margin: 5px 9px;
    font-size: 14px;
    color: #636261;
}
.btn-container {
    border-top: 1px solid #eaeaea;
    padding-top: 10px;
    margin-left: -15px;
    margin-right: -15px;
}
.page-title .breadcrumb {
    font-size: 13px;
}
.breadcrumb, .breadcrumb a {
    color: #424141;
}
.breadcrumb>.active {
    color: #e74c3c;
}
